.rowPoster {
  object-fit: contain;
  width: 100%;
  max-height: 100px; /*defines the size of the pictures*/
  transition: transform 450ms; /*creates a transition if the size is ever adjusted*/
  margin-right: 10px; /*creates a space between each picture*/
}
.rowPoster:hover {
  transform: scale(1.11);
  /*when we hover over our mouse, makes the image bigger. paired with transition delay, creates a smooth effect*/
}
.Row_poster {
  display: flex; /*turns the pictures from column into rows*/
  overflow-y: hidden; /*keeps header in place*/
  overflow-x: scroll; /* allows the user to scroll on the row */
  padding: 20px; /*padding is used to allow the pictures to transformation size without looking cut off*/
}
.Row_poster::-webkit-scrollbar {
  display: none; /*hides scrollbar but keeps functionality of it to all browsers*/
}

.rowPosterLarge {
  max-height: 250px; /*Trending now will have bigger picture size than the other rows */
}
.rowPosterLarge:hover {
  /*large row will have a bigger image transformation*/
  transform: scale(1.13);
  opacity: 1;
  padding: 30 px;
}
.Row {
  margin-left: 20px; /*creates a margin at the left, shifting rows to the right */
  color: white;
}
